@media (max-width: 600px) {
    .menu {
        flex-direction: column;
        /* Cambia la dirección a columna */
        align-items: flex-start;
        /* Alinea los elementos a la izquierda */
        /* font-size: medium; */

    }

    .iphone {
        /* font-size: medium; */
    }

    body {
        width: 600px;

    }

}