  @import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=JetBrains+Mono:wght@100&family=Poppins:wght@400;700&display=swap');


  .fade-anim img {

  animation: fadeAnim 0.5s ease-out;
}
@keyframes fadeAnim {

  from{
    opacity: 0;
  } to {

    opacity: 1;
  }

}




@tailwind base;
@tailwind components;
@tailwind utilities;




* img {
  width: 800px;
  height: 450px;
}
